//首页
$font-color: #fff;
$bg-color: #009999;//#414758;
$font-size:12px;
$menu-width:80px;
$header-height:50px;
$opop-color:rgba(51, 51, 51, 0.9);
$maptool-color:hsla(0,0%,100%,.95);

//rightpanel
$panel-color: #fff;

//地图划过pop颜色
$flag-color:rgba(36, 75, 139, 0.6);

