@charset "utf-8";
@import "./common";/*引入配置*/

@mixin font_color ($color) {/*通过该函数设置字体颜色，后期方便统一管理；*/
  color: $color;
  [data-theme="theme1"] & {
    color: $font-color;
  }
}

@mixin bg_color ($color) {/*通过该函数设置主题颜色，后期方便统一管理；*/
  background-color: $color;
  [data-theme="theme1"] & {
    background-color: $bg-color;
  }
}

@mixin font-size ($fontsize) {/*通过该函数设置主题颜色，后期方便统一管理；*/
  font-size: $font-size;
  [data-theme="theme1"] & {
    font-size: $font-size;
  }
}